*{
    margin:0;padding:0
}
img{
    height:100vh;width:100vw;
    justify-content: space-around;

}
.carrossel{
    overflow:hidden;
    height:100vh;
    width:100vw
}
.carrossel ul{
    display:flex;
    list-style:none;
    width:700vw;
    height:100vh
}
.carrossel li{
    position:relative;
    animation:slide 100s infinite ease-in-out
}
@keyframes slide
{0%{left:0}12.0%{left:0}
12.5%{left:-100vw}25%{left:-100vw}
26%{left:-200vw}37.5%{left:-200vw}
38%{left:-300vw}50%{left:-300vw}
51%{left:-400vw}62.5%{left:-400vw}
63.5%{left:-500vw}75%{left:-500vw}
76%{left:-600vw}87.5%{left:-600vw}
88.5%{left:-700vw}100%{left:-700vw}}
 
@media screen and (max-width: 768px){
    img{
        width: 100%;
        flex-direction: column;
    }
}
    
